/* Custom CSS */
/* Hier kannst du deine eigenen CSS-Anpassungen vornehmen */

/* Hintergrundbild für den Header */
.bg-image {
  background-image: url('bild.jpg');
  background-size: cover;
  background-position: center;
  height: 300px; /* Standardhöhe für Desktop-Ansicht */
}

/* Media Query für mobile Geräte */
@media (max-width: 768px) {
  .bg-image {
    height: 200px; /* Höhe für mobile Ansicht */
  }
}

/* Media Query für Desktop */
@media (min-width: 992px) {
  .bg-image {
    height: 400px; /* Höhe für Desktop-Ansicht */
  }
}

/* Navigationsleiste */
.navbar {
  background-color: #cc0000 !important; /* Rot */
}

/* Navigationsleisten-Links */
.navbar-light .navbar-nav .nav-link {
  color: #fff !important; /* Weiß */
}

/* Navigationsleisten-Links bei Hover */
.navbar-light .navbar-nav .nav-link:hover {
  color: #eee !important; /* Helleres Weiß */
}

/* Footer */
footer {
  background-color: #cc0000 !important; /* Rot */
  color: #fff !important; /* Weiß */
}

/* Footer-Links */
footer a {
  color: #fff !important; /* Weiß */
}

/* Footer-Links bei Hover */
footer a:hover {
  color: #ccc !important; /* Helleres Weiß */
}

/* Buttons */
.btn-danger {
  background-color: #cc0000 !important; /* Rot */
  border-color: #cc0000 !important; /* Rot */
}

/* Buttons bei Hover */
.btn-danger:hover {
  background-color: #b31d23 !important; /* Dunkleres Rot */
  border-color: #b31d23 !important; /* Dunkleres Rot */
}
