/* Custom CSS */
/* Hier kannst du deine eigenen CSS-Anpassungen vornehmen */
/* Farben */
.bg-dark {
  background-color: #cc0000;
}

.btn-danger {
  background-color: #cc0000;
  border-color: #cc0000;
}

.btn-danger:hover {
  background-color: #aa0000;
  border-color: #aa0000;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff; /* Schriftfarbe Weiß */
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #eee; /* Hellere Schriftfarbe bei Hover */
}

footer {
  background-color: #cc0000;
  color: #fff; /* Schriftfarbe Weiß */
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #eee;
}
